<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <span class="text-success">{{ title }} is running!</span><br>
    <input type="text" class="form-control" {(ngModel)}="note"><br>
    <button class="btn btn-primaary" (click)="addNote(note)">Add</button><br/>
    <button class="btn btn-primary" >List</button><br/>
  </div>

  
  <ul>
    <li>
    
      <button class="btn-close "   >close</button>
    </li><br/>
  </ul>
  
  
  
</body>
</html>